<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947096917073-u4te18a2oq2t7k0kv9hbqpvriq8dgv0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947096917073-u4te18a2oq2t7k0kv9hbqpvriq8dgv0l</string>
	<key>API_KEY</key>
	<string>AIzaSyBy6dPxHCv_zJe-0X0j9rOeiQml1X9bhV4</string>
	<key>GCM_SENDER_ID</key>
	<string>947096917073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nedeFetyen</string>
	<key>PROJECT_ID</key>
	<string>football-de7bd</string>
	<key>STORAGE_BUCKET</key>
	<string>football-de7bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947096917073:ios:8fc7fd7bc4e6616e225470</string>
	<key>DATABASE_URL</key>
	<string>https://football-de7bd-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>